header {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.navdiv {
	display: inline-flex;
	margin: 0px 70px;
}
.bullet{
  content: "\2022";
  color: #6294A2;
}
.navul {
	display: inline-flex;
}
.labels {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.labels1 {
	display: inline-flex;
}
.background {
	margin: 40px 100px;
}
.backgroundtext{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
}

.background img{
	position: relative;
	width: 100%;
	height: 450px;
	object-fit: cover;
}
.grid{
	display: grid;
	margin: 40px 100px;
	padding: 20px;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	/**grid-template-rows:**/
	grid-template-areas: 
	"r r s"
	"r r u"
	"p . m"
	"t t t"
}
.recent{
	grid-area:r;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 10px beige;
}
.articlediv {
	display: inline-flex;
}
.articleimg{
	width: 100px;
	height: 70px;
	object-fit: cover;
	border-radius: 10px;
}
.sponsored {
	grid-area: s;
}
.sponsored img{
	width: 436px;
	height: 299px;
	object-fit: cover;

    position: relative;
    background-color: #FFF;}
.sponsoredtext{
    /**position: absolute;**/
}

.subscribe{
	grid-area: u;
}
.popular {
	grid-area: p;
}
.media {
	grid-area: m;
}
.media img{
	width: 635px;
	height: 508px;
}
.trending {
	grid-area: t;
}
.trend{
	display: inline-flex;
}
.trend img{
	width: 377px;
	height: 156px;
	object-fit: cover;
}
.trending h2:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6294A2;
    border-radius: 50px;
    margin: 0 6px 0 0;
}